.user-component {
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    margin-bottom: 1rem;
}

.logout {
    display: flex;
    justify-content: flex-end;
    margin: 25px 50px;
}

.icon-tabler-logout {
    color: var(--secondary);
    cursor: pointer;
    transition: color 0.2s;
}

.icon-tabler-logout:hover {
    color: var(--clr-link);
}

.user {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5rem;
    margin-left: 10%;
}

.user-img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.username {
    font-size: var(--fs-xxl);
    font-weight: var(--fw-extrabold);
    color: var(--secondary);
}

.user-details {
    gap: 1rem;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
}

.profile-btn {    
    background-color: var(--secondary);
    transition: background-color 0.2s;
    height: 50px;
    width: 280px;
    border-radius: 15px;
    cursor: pointer;
}

.profile-btn:hover {    
    background-color: var(--clr-link);
}

.profile-btn-text {
    font-size: var(--fs-r);
    color: var(--primary);
    position: relative;
    top: 2px;
}

.user-img-container {
    cursor: pointer;
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.user-img-container:hover {
    opacity: 1;
}

.img-input {
    position: absolute;
    width: 135px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    padding: 5.5rem 2rem;
    font-size: 0;
}

.icon-tabler-photo-hexagon {
    cursor: pointer;
    transition: color 0.2s;
    color: var(--primary);
}

.icon-tabler-user-details-hexagon {
    color: var(--secondary);
    transition: opacity 0.2s;
}


