.register-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 3%;
    min-height: 70vh;
}

.register-title {
    font-size: var(--fs-l);
    font-weight: var(--fw-medium);
    color: var(--secondary);
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.register-btn {    
    background-color: var(--secondary);
    transition: background-color 0.2s;
    height: 50px;
    width: 280px;
    border-radius: 15px;
    cursor: pointer;
}

.register-btn:hover {    
    background-color: var(--clr-link);
}

.register-btn-text {
    font-size: var(--fs-r);
    color: var(--primary);
    position: relative;
    top: 2px;
}